@import "fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
}

.container-centred {
    margin: 20px auto;
    width: 1024px;
    font-family: Hanken Grotesk, sans-serif;
}